@model IEnumerable<Mvc5.CafeT.vn.Models.ApplicationMessage>

@{
    ViewBag.Title = "Index";
}

<h4>Settings</h4>
<div class="col-md-2">
    @Html.Partial("_AdminMenu")
</div>
<div class="col-md-2">
    @Html.Partial("_LoggedInUsers")
</div>

<div class="col-md-8">
    <div id="Update">

    </div>
</div>

