
@*<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading text-center">Stats</div>
        <div class="panel-body">
            <div style="margin: 5px; padding: 5px;">
                @Html.Partial("_Stats")
            </div>
        </div>

    </div>
</div>*@
@*<aside class="floating">
    <section class="inside cover">
        <a href="tel:1900 9477" title="Hotline: 1900 9477">
            <span>Hỗ Trợ 24/7:</span> <strong>1900 9477</strong>
        </a>
        <a href="tel:08-62563737" class="data-pa data-attr-content_600 hide_800" data-content_600="KD HCM" title="Sale Hồ Chí Minh: 08-62563737">
            <span>Sale Hồ Chí Minh:</span> <strong>08-62563737</strong>
        </a>
        <a href="tel:04-73073737" class="data-pa data-attr-content_600 hide_800" data-content_600="KD HN" title="Sale Hà Nội">
            <span>Sale Hà Nội:</span> <strong>04-73073737</strong>
        </a>
        <section class="chatus">
            <a href="#!" class="data-pa" onclick="$('a.chatsale').trigger('click')" title="Chat với chúng tôi">
                <span>Chat với chúng tôi</span>
                <img src="https://www.pavietnam.vn/css/images/icon_chat.png" alt="Chat với chúng tôi" width="40" height="38" border="0">
            </a>
        </section>
    </section>
</aside>*@