<appSettings>
  <add key="Image_Article_Default" value="/Assets/Customizes/images/article_default.jpg" />
  <add key="Image_Avatar_Default" value="/Assets/Customizes/images/avatar_default.png" />

  <add key="LinkFacebook" value="https://www.facebook.com/ChuyenToan.vn" />
  <add key="LinkTwitter" value="#" />
  <add key="LinkPinterest" value="#" />
  <add key="LinkGooglePlus" value="#" />
  <add key="LinkVimeo" value="#" />
  <add key="LinkYouTube" value="#" />
  <add key="LinkMaxCDN" value="#" />
  <add key="LinkLinkedin" value="#" />
  <add key="LinkRSS" value="#" />
  <add key="LinkShare" value="#" />
  <add key="LatLocation" value="10.793099863989733" />
  <add key="LngLocation" value="106.65770172271914" />
  <add key="MapsApiKey" value="AIzaSyBoouu1c7v89T1YLdwcOj_IuhV4szq3TqA" />
  <add key="AddressLocation" value="Penta Coffee - 88 Lê Bình, Phường 4, Quận Tân Bình, TP. Hồ Chí Minh" />
  <add key="WebsiteName" value="ChuyenToan.vn" />
  <add key="Founder" value="Phan Minh Tài" />
  <add key="Year" value="2017" />
  <add key="UrlLogo" value="/Assets/Customizes/images/chuyen-toan.png" />

  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="SiteTitle" value="Công nghệ và Ứng dụng" />
  <add key="SiteName" value="CafeT.vn" />
</appSettings>