<connectionStrings>
  <clear />
  <!--<add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ChuyenToan;Persist Security Info=True;User Id=sa;Password=sa" providerName="System.Data.SqlClient" />-->
  <add name="DefaultConnection" connectionString="Data Source=10.10.3.16;Initial Catalog=ChuyenToan_Live;Persist Security Info=True;User Id=sa;Password=bidc@2015" providerName="System.Data.SqlClient" />
</connectionStrings>